/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  height: 100%;
  padding: 0 1rem;
}

@media (min-width: 650px) {
  body {
    padding: 0 2rem;
  }
}

.center {
  display:flex;
  justify-content: center;
}
h1 {
  font-style: italic;
}

html {
  height:100%;
}

body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.ind {
  margin:0 auto;
  display:flex;
  flex-direction:column;
  width: 90%;
}
h3 {
  margin-bottom:0;
}
.ind p {
  margin:0 0;
}

#mapid {
  margin-top: 3em;
  height: 100%;
  border: gray solid 2px;

}

#wideimg {
  width:400px;
}
#tallimg {
  height:400px;
}